body {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
    
    background-image: url('images/image.png'); 
    
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 

    background-color: rgba(255, 255, 255, 0.2); 
    background-blend-mode: overlay; 
    background-color: #0b1a2d;
    background-blend-mode: normal; 

}

.container {
    background: rgba(255, 255, 255, 0.95); 
    width: 380px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3); 
}

h2 {
    margin-bottom: 5px;
    color: #c0392b; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

button {
    padding: 12px;
    border: none;
    background: #c0392b;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background: #e74c3c;
    transform: translateY(-2px);
}

h2 {
    margin-bottom: 5px;
    color: #d35400;
}

.sub {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    text-align: left;
    font-size: 14px;
    color: #333;
}

label {
    font-size: 16px; 
    font-weight: bold; 
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

button {
    padding: 12px;
    border: none;
    background: #e67e22;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #d35400;
}

#result img {
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
}

.hidden {
    display: none;
}
